<ng-container *ngIf="dialogVisible">
  <p-dialog modal="true" width="auto" ngClass="custom-dialog" [resizable]="false" [closable]="false" [(visible)]="dialogVisible">
    <p-header ngClsass="popup-header">
      <h2>Cancellation Policy</h2>
      <span class="ij icon x-icon" (click)="hideDialog()"></span>
    </p-header>
    <article class="dialog-container">
      <form ij-form-validation #f="ngForm" (ngSubmit)="onSubmit(f)" (keydown.enter)="$event.preventDefault()" novalidate>
          <header *ngIf="model.header">
              <ij-dialog-header [model] = "model.header"></ij-dialog-header>
          </header>

        <div class="dialog-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12 form-group">
                <label class="parheadcolor">7 Days</label>
                <p>Cancel within 7 days of shoot will result in the loss of three industry score points for your profile.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 form-group">
                <label class="parheadcolor">48 Hours</label>
                <p>Cancel within 48 Hours of shoot will result in one strike on the user account. At three strikes, the user
                  is kicked off the Industry Jump for a year.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 form-group">
                <label for="songTitle">Why Are You Canceling ?</label>
              </div>
              <div class="col-sm-12 form-group">
                <div class="col-sm-1 form-group">
                  <label class="chk">
                    <input type="radio" id="1" value="1" name="cc"  (click)="cancelOption='1' "/>
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="col-sm-9 form-group">
                  <label>I am not available anymore.</label>
                </div>
                <div class="col-sm-2 form-group">&nbsp;</div>
              </div>
              <div class="col-sm-12 form-group">
                <div class="col-sm-1 form-group ">
                  <label class="chk">
                    <input type="radio" 
                    id="2" 
                    value="2"
                     name="cc"             
                      (change)="toggleEditable($event)"
                      (click)="cancelOption='2' "/>
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="col-sm-9 form-group">
                  <label>I don't want to work with this client.</label>
                </div>
                <div class="col-sm-2 form-group">&nbsp;</div>
              </div>
              <div class="col-sm-12 form-group">
                <div class="col-sm-1 form-group">
                  <label class="chk">
                    <input type="radio" id="3" value="3"  name="cc"  (click)="cancelOption='3'" />
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="col-sm-9 form-group">
                  <label>I misunderstood the job terms.</label>
                </div>
                <div class="col-sm-2 form-group">&nbsp;</div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <textarea id="message" name="message" name="message" [(ngModel)]="model.message" placeholder="Please explain why you are canceling this project. This response will be sent to all parties involved in this transaction"
                  class="form-control" rows="7" required minlength="5" maxlength="512"></textarea>
              </div>
            </div>
          </div>
        </div>
        <footer>
          <div class="row">
            <div class="col-sm-12 form-group">
              <label>By pressing cancel, you agree to the cancelation penality and will be penalized
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 form-group">&nbsp;</div>
            <div class="col-sm-4 form-group">
              <input class="cancelbtn" type="button"  value="Cancel" (click)="onCancel()" />
            </div>
            <div class="col-sm-4 form-group">
              <input type="submit" value="Mutual Cancelation" (click)="onMutualCancel()" />
            </div>
            <div class="col-sm-2 form-group">&nbsp;</div>
          </div>
          <!-- <div class="mar-20 alert alert-danger" *ngIf="showSaveErrored">
            <ul>
              <li *ngFor="let error of errors">{{error}}</li>
            </ul>
          </div> -->
        </footer>
      </form>

    </article>
  </p-dialog>
</ng-container>