<section class="info" id="mobile-app">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        
        <h2>Mobile Ready</h2>
        <p class="match">Manage your film career on the go:</p>
        
        <ol>
          <li>Search for film crew.</li>
          <li>Chat with your crew members and prospects.</li>
          <li>Quick crew referrals.</li>
          <li>Review film crew.</li>
        </ol>
        
        <div id="beta-signup">
          <ng-container>
            <!-- <p>Apply For Beta Code</p>
            <a class="email-btn" routerLink="/signup/request">Apply</a> -->
            <p>Sign Up Now</p>
            <a class="email-btn" routerLink="/signup">Sign Up</a>
          </ng-container>
        </div>
      </div>

      <div class="col-sm-6 img-col">
        <img src="../assets/images/home/mobile-app-latest.png" alt="Industry Jump Mobile App" />
      </div>
    </div>
  </div>
</section>