<ij-site-subheader></ij-site-subheader>
<header id="page-header">
    <div class="jumbo">
        <h1>#squadgoals</h1>
    </div>
    <nav class="tabs">
        <ul>
            <li><a routerLinkActive="active" routerLink="/about">Our Team</a></li>
            <li><a routerLinkActive="active" routerLink="/contact">Contact Us</a></li>
            <li><a routerLinkActive="active" routerLink="/privacy">Privacy Policy</a></li>
            <li><a routerLinkActive="active" routerLink="/terms">Terms of Use</a></li>
        </ul>
    </nav>
</header>
<section class="team">
    <div class="container">
        <span class="ij icon unun"></span>
        <h2>The C Level Team</h2>
        <table>
            <tr>
                <td colspan="3">
                    <a href="https://vimeo.com/236260136?autoplay=1" data-lity>
                        <img class="img-responsive" src="../assets/images/about/cteam-header.png" alt="The C Team" />
                    </a>
                </td>
            </tr>
            <tr class="peeps">
                <td>
                    <div class="hoverable">
                        <img class="img-responsive" src="../assets/images/about/jj.png" alt="JJ Englert" />
                        <div class="hoverable-overlay">
                            <p>PGA Producer.</p>
                            <p>Won a college Emmy Award.</p>
                            <p>Produced content in over 9 countries.</p>
                            <p>Addicted to sports.</p>
                            <p>From Rochester, NY.</p>
                        </div>
                    </div>
                    <footer>
                        <span class="fullname">JJ Englert</span>
                        <span class="position">CEO</span>
                    </footer>
                </td>
                <td>
                    <div class="hoverable">
                        <img class="img-responsive" src="../assets/images/about/mike.png" alt="Michael Davis" />
                        <div class="hoverable-overlay">
                            <p>3 years at Microsoft.</p>
                            <p>Consulted for Goverment agencies.</p>
                            <p>Maintains numerous open source projects.</p>
                            <p>Music Festival junkie.</p>
                            <p>From Leesville, LA.</p>
                        </div>
                    </div>
                    <footer>
                        <span class="fullname">Michael Davis</span>
                        <span class="position">CTO</span>
                    </footer>
                </td>
                <td>
                    <div class="hoverable">
                        <img class="img-responsive" src="../assets/images/about/ani.png" alt="Ani Panditt" />
                        <div class="hoverable-overlay">
                            <p>5 years at Google.</p>
                            <p>VP of Sales @ Honest Company.</p>
                            <p>Directed ULB feature film.</p>
                            <p>Major book worm.</p>
                            <p>From India.</p>
                        </div>
                    </div>
                    <footer>
                        <span class="fullname">Andi Panditt</span>
                        <span class="position">COO</span>
                    </footer>
                </td>
            </tr>
        </table>
    </div>
</section>


<section class="team">
    <div class="container">
        <span class="ij icon unun"></span>
        <h2>The Dev Team</h2>

        <table>
            <tr>
                <td colspan="3">
                    <img class="img-responsive" src="../assets/images/about/devteam-header.png" alt="The C Team" />
                </td>
            </tr>
            <tr class="peeps">
                <td>
                    <img class="img-responsive" src="../assets/images/about/charn.png" alt="Charnjeet Sharma" />
                    <footer>
                        <span class="fullname">Charnjeet Sharma</span>
                        <span class="position">Developer</span>
                    </footer>
                </td>
                <td>
                    <img class="img-responsive" src="../assets/images/about/jon.png" alt="Jon Davis" />
                    <footer>
                        <span class="fullname">Jon Davis</span>
                        <span class="position">Developer</span>
                    </footer>
                </td>
                <td>
                    <img class="img-responsive" src="../assets/images/about/rahul.png" alt="Rahul Varghese" />
                    <footer>
                        <span class="fullname">Rahul Varghese</span>
                        <span class="position">Designer</span>
                    </footer>
                </td>
            </tr>
        </table>
    </div>
</section>

<ij-site-footer></ij-site-footer>
